/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: helvetica;
    color: #333;
    box-sizing: border-box;
}

body {
    background-image: url("../img/pngtree-equipment-for-working-on-wooden-table-and-adjust-color-of-image-photo-image_3096104.jpg ");
    background-size: cover;
}

button {
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover {
    background-color: #102f5e;
}

button:hover > i {
    color: #ffffff;
}

button i {
    color: #102f5e; 
    font-weight: bold;
    pointer-events: none;
}

